<% if user_signed_in? %>
  <%= link_to current_user.email, user_path(:id) %>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<%else%>
  <%= link_to "Sign in", new_user_session_path%>
<% end %>

<%= render partial: 'search_form'%>

<% if params[:commit]%>
  <% if @flight_search_results.size.zero?%>
    <td>No flights matching these parameters are currently available. 
    Please initiate a new search to explore all the top options.</td>
  <%else%>
    <%= form_with model: @booking, url: new_booking_path, method: :get do |form|%>
      <%= form.collection_radio_buttons :selected_flight, @flight_search_results, :id, :flight_detail do |f|%>
        <%= f.radio_button + f.label %><br>
      <% end %> 
      <%= form.hidden_field :number_of_seats, value: params[:number_of_seats] %>
      <% if user_signed_in? %>
        <%= submit_tag "Book Flight" %>
      <%else%>
        <td>Please <%= link_to "Sing in", new_user_session_path%> to book your flight</td>
      <% end %>
    <%end%>
  <% end %>
<% end %>