<h3>Details for Passenger <%= "#{index + 1}" %></h3>

<div class="field">
  <%= ticket_form.label :passenger_name %>
  <%= ticket_form.text_field :passenger_name %> 
</div>
<div class="field">
  <%= ticket_form.label :passenger_email %>
  <%= ticket_form.text_field :passenger_email %>
</div>