<td><%= current_user.email %></td>

<h3>Flight detail<h3>
<div><%= @flight.flight_detail %></div>

<%= form_with model: @booking do |f| %>
  <%= f.fields_for :tickets do |ticket_form| %>
    <%= render partial: "ticket_fields", locals: { ticket_form: ticket_form, index: ticket_form.index}%>
  <% end %>
<%= f.hidden_field :flight_id, value: params[:selected_flight] %>
<%= f.submit%>
<% end %>