<td><%= current_user.email %></td>

<br>
<h1>Booking Details</h1>
<h2><%=@booking.flight.flight_detail%></h2>
<p><strong>Passengers</strong></p>
<% @booking.tickets.each_with_index do |ticket, index|%>
  <div>
    <p>
        Passenger <%= index + 1%><br>
        Name: <%= ticket.passenger_name %><br>
        Email: <%= ticket.passenger_email %><br>
    </p>
  </div>
<%end%>
<%= link_to "Home", root_path %>